# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/.gitattributes
/coordinator-node/node_modules/

google-sheet-test/tokens/StoredCredential
google-sheet-test/.gitattributes
google-sheet-test/.project
google-sheet-test/.settings/org.eclipse.buildship.core.prefs
google-sheet-test/gradle/wrapper/gradle-wrapper.jar
bin/
google-sheet-test/.classpath
